[run]
branch = True
source = src/spellbot
omit =
    src/spellbot/_version.py
    src/spellbot/versions/env.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
