[run]
branch = True
concurrency = multiprocessing
parallel = true
source = .
omit =
    src/spellbot/_version.py
    src/spellbot/migrations/env.py
    src/spellbot/web/server.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

[html]
skip_covered = True
