.coverage/
.coveragerc
.dockerignore
.env*
.eslintcache
.git
.gitattributes
.github/
.gitignore
.markdownlint.json
.mypy_cache/
.mypy.ini
.prettierrc
.pytest_cache/
.python-version
.terraform/
.tox/
.vscode/
*.log
build
CHANGELOG.md
CODE_OF_CONDUCT.md
codecov.yml
CONTRIBUTING.md
coverage
coverage.xml
db/
dist/
DOCKER.md
Dockerfile.*
docs/
env/
grafana/
logs/
node_modules/
SECURITY.md
spellbot-sm.png
spellbot.png
sql/
states/
terraform.tfvars
tests/
tmp/
yarn-debug.log*
yarn-error.log*
