# SpellBot Dependencies
DATABASE_URL="postgresql://postgres@localhost:5432/spellbot-postgres"
REDIS_URL="redis://spellbot-redis:6379"

# SpellBot API
API_BASE_URL="http://localhost:8080"

# SpellBot Client
BOT_TOKEN="your-discord-bot-token"
BOT_APPLICATION_ID="your-discord-application-id"
SECRET_TOKEN="choose-a-secret-token"

# SpellBot Admin Dashboard - See ADMINISTRATION.md for more details
BOT_CLIENT_SECRET="your-discord-oauth-client-secret"
SESSION_SECRET_KEY="generate-with-make-session-key"

# SpellBot Integrations - See INTEGRATIONS.md for more details
CONVOKE_API_KEY="your-convoke-api-key"

# Patreon Support
PATREON_CAMPAIGN="your-patreon-campaign"
PATREON_TOKEN="your-patreon-token"
