[tool.black]
include = '\.pyi?$'
line-length = 100

[tool.pylint]
max-line-length = 100

[tool.pyright]
enableTypeIgnoreComments = true
reportMissingParameterType = true
reportMissingTypeArgument = true
typeCheckingMode = "basic"

[tool.ruff]
exclude = [
  "__pypackages__",
  "_build",
  ".bzr",
  ".direnv",
  ".eggs",
  ".env",
  ".git",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "buck-out",
  "build",
  "dist",
  "env",
  "node_modules",
  "venv",
  "src/spellbot/migrations/versions",
]
extend-select = [
  "ANN",
  "C4",
  "COM812",
  "DTZ",
  "I",
  "ISC",
  "PT",
  "PTH",
  "Q",
  "RUF",
  "T20",
  "W",
]
ignore = ["ANN101", "ANN102", "ANN401"]
line-length = 100
target-version = "py310"

[tool.pylic]
ignore_packages = [
  # only install these as part of dev tools to avoid GPL usage in main application
  "astroid",
  "pylint",
]
safe_licenses = [
  "3-Clause BSD License",
  "Apache Software License",
  "BSD License",
  "BSD-derived (http://www.repoze.org/LICENSE.txt)",
  "BSD",
  "GNU Library or Lesser General Public License (LGPL)",
  "ISC License (ISCL)",
  "MIT License",
  "MIT",
  "Mozilla Public License 2.0 (MPL 2.0)",
  "Python Software Foundation License",
  "The Unlicense (Unlicense)",
]

[tool.pytest.ini_options]
addopts = """
    -W ignore::DeprecationWarning --no-header --cov --cov-report=html -vv
"""

[tool.poetry]
authors = [
  'Amy Troschinetz <spellbot@lexicalunit.com>',
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: End Users/Desktop",
  "Topic :: Communications :: Chat",
  "Topic :: Games/Entertainment :: Board Games",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.10",
]
description = 'The Discord bot for SpellTable'
homepage = 'http://spellbot.io/'
keywords = ['discord', 'magic', 'bot', 'mtg', 'SpellTable']
license = 'MIT'
name = 'spellbot'
packages = [
  {include = "spellbot", from = "src"},
]
readme = 'README.md'
repository = 'https://github.com/lexicalunit/spellbot'
version = "9.2.0"

[tool.poetry.dependencies]
aiohttp = "^3.8.4"
aiohttp-jinja2 = "^1.5.1"
aiohttp-retry = "^2.8.3"
alembic = "^1.10.3"
asgiref = "^3.7.1"
babel = "^2.12.1"
certifi = ">=2022.12.7,<2024.0.0"
click = ">=8.1.3, !=8.1.4"
coloredlogs = "^15.0.1"
datadog = ">=0.45,<0.48"
ddtrace = "^1.12.0"
discord-py = "^2.3.2"
dunamai = "^1.16.0"
expiringdict = "^1.2.2"
gunicorn = ">=20.1,<22.0"
humanize = "^4.6.0"
hupper = "^1.12"
importlib-resources = ">=5.12,<7.0"
packaging = "^23.1"
psycopg2-binary = "^2.9.6"
python = ">=3.10,<4"
python-dateutil = "^2.8.2"
python-dotenv = "^1.0.0"
pytz = "^2023.3"
pyyaml = "^6.0"
requests = "^2.28.2"
sqlalchemy = "^2.0.18"
sqlalchemy-utils = "^0.41.1"
supervisor = "^4.2.5"
toml = "^0.10.2"
uvloop = "^0.17.0"
wrapt = "^1.15.0"

[tool.poetry.scripts]
spellbot = 'spellbot:main'

[tool.poetry.group.dev.dependencies]
black = "^23"
callee = "^0"
coverage = "^7"
exceptiongroup = "^1"
factory-boy = "^3"
faker = ">=18,<20"
gitpython = "^3"
pexpect = "^4"
ptyprocess = "^0"
pylic = "^3.5.0"
pylint = "2.17.5"
pyright = "^1"
pytest = "^7"
pytest-aiohttp = "^1"
pytest-asyncio = "^0"
pytest-cov = "^4"
pytest-freezegun = "^0"
pytest-mock = "^3"
ruff = "^0"
shellingham = "^1"
sqlalchemy-stubs = "^0"
syrupy = "^4"
tomli = "^2"
tomlkit = "^0"
types-freezegun = "^1"
types-python-dateutil = "^2"
types-pytz = "^2023"
types-pyyaml = "^6"
types-toml = "^0"
virtualenv = "^20"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.8"]
