[tool.pyright]
enableTypeIgnoreComments = true
reportMissingParameterType = true
reportMissingTypeArgument = true
reportUnnecessaryTypeIgnoreComment = "error"
typeCheckingMode = "basic"

[tool.ruff]
exclude = [
  "__pypackages__",
  "_build",
  ".bzr",
  ".direnv",
  ".eggs",
  ".env",
  ".git",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  ".venv",
  "buck-out",
  "build",
  "dist",
  "env",
  "node_modules",
  "venv",
]
line-length = 100
target-version = "py312"

[tool.ruff.lint]
extend-select = ["ALL"]
ignore = [
  "A001",
  "A002",
  "ANN101",
  "ANN102",
  "ANN202",
  "ANN401",
  "ARG001",
  "ARG002",
  "ARG003",
  "ARG005",
  "BLE001",
  "COM812",
  "D100",
  "D101",
  "D102",
  "D103",
  "D104",
  "D105",
  "D106",
  "D107",
  "D203",
  "D211",
  "D212",
  "ERA001",
  "FBT001",
  "FBT002",
  "FBT003",
  "FIX002",
  "ISC001",
  "N801",
  "N802",
  "N806",
  "PGH003",
  "PIE796",
  "PLR0911",
  "PLR0913",
  "PLR2004",
  "S101",
  "TD002",
  "TD003",
]
[tool.ruff.lint.per-file-ignores]
"src/spellbot/migrations/*" = ["INP001"]
"src/spellbot/operations.py" = ["RET504"]
"tests/*" = [
  "EM101",
  "PT004",
  "S105",
  "SLF001",
  "TRY003",
]

[tool.ruff.lint.pycodestyle]
max-doc-length = 100
max-line-length = 100

[tool.pylic]
safe_licenses = [
  "3-Clause BSD License",
  "Apache 2.0",
  "Apache Software License",
  "BSD License",
  "BSD-derived (http://www.repoze.org/LICENSE.txt)",
  "GNU Library or Lesser General Public License (LGPL)",
  "ISC License (ISCL)",
  "LICENSE.BSD3",
  "MIT License",
  "MIT",
  "Mozilla Public License 2.0 (MPL 2.0)",
  "Python Software Foundation License",
  "The Unlicense (Unlicense)",
]

[tool.pytest.ini_options]
addopts = """
    -W ignore::DeprecationWarning --no-header --cov --cov-append --cov-report xml:coverage.xml --cov-report=html -vv
"""

[tool.poetry]
authors = [
  'Amy Troschinetz <spellbot@lexicalunit.com>',
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: End Users/Desktop",
  "Topic :: Communications :: Chat",
  "Topic :: Games/Entertainment :: Board Games",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.12",
]
description = 'The Discord bot for SpellTable'
homepage = 'http://spellbot.io/'
keywords = ['discord', 'magic', 'bot', 'mtg', 'SpellTable']
license = 'MIT'
name = 'spellbot'
packages = [
  {include = "spellbot", from = "src"},
]
readme = 'README.md'
repository = 'https://github.com/lexicalunit/spellbot'
version = "11.0.3"

[tool.poetry.dependencies]
aiohttp = "^3.9.4"
aiohttp-jinja2 = "^1.6"
aiohttp-retry = "^2.8.3"
alembic = "^1.13.1"
asgiref = "^3.8.1"
babel = "^2.14.0"
certifi = ">=2024.2.2,<2025.0.0"
click = "^8.1.7"
coloredlogs = "^15.0.1"
datadog = ">=0.49.1,<0.50"
ddtrace = ">=2.8.0,<3.0"
discord-py = "^2.3.2"
dunamai = "^1.19.2"
gunicorn = ">=21.2.0,<23.0"
humanize = "^4.9.0"
hupper = "^1.12.1"
importlib-resources = ">=6.4.0,<7.0"
packaging = ">=24.0,<25.0"
psycopg2-binary = "^2.9.9"
python = ">=3.12,<4"
python-dateutil = "^2.8.2"
python-dotenv = "^1.0.1"
pytz = ">=2024.1"
pyyaml = "^6.0.1"
requests = "^2.31.0"
sqlalchemy = "^2.0.29"
sqlalchemy-utils = "^0.41.2"
supervisor = "^4.2.5"
toml = "^0.10.2"
uvloop = "^0.19.0"
wrapt = "^1.16.0"

[tool.poetry.scripts]
spellbot = 'spellbot:main'

[tool.poetry.group.dev.dependencies]
callee = "^0"
coverage = "^7"
exceptiongroup = "^1"
factory-boy = "^3"
faker = ">=24"
gitpython = "^3"
ipython = "^8"
nest-asyncio = "^1"
pexpect = "^4"
ptyprocess = "^0"
pylic = "^3"
pyright = "^1"
pytest = "^8"
pytest-aiohttp = "^1"
pytest-asyncio = "^0"
pytest-cov = "^4"
pytest-freezegun = "^0"
pytest-mock = "^3"
pytest-xdist = "^3"
ruff = "^0"
shellingham = "^1"
sqlalchemy-stubs = "^0"
syrupy = "^4"
tomli = "^2"
tomlkit = "^0"
types-freezegun = "^1"
types-python-dateutil = "^2"
types-pytz = ">=2023,<2025"
types-pyyaml = "^6"
types-toml = "^0"
virtualenv = "^20"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.9.0"]
