[tool.black]
include = '\.pyi?$'
line-length = 90

[tool.isort]
ensure_newline_before_comments = true
include_trailing_comma = true
line_length = 90
multi_line_output = 3
use_parentheses = true

[tool.pylint]
max-line-length = 90

[tool.pytest.ini_options]
addopts = """
    --ignore=tests/fixtures
    --ignore=tests/snapshots
    -W ignore::DeprecationWarning
"""

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist = py{38,39}

[gh-actions]
python =
    3.8: py38
    3.9: py39

[testenv]
whitelist_externals = poetry
skip_install = true
passenv = *
commands =
    poetry install
    poetry run coverage erase
    poetry run coverage run -m pytest {posargs}
    poetry run coverage report -m
    poetry run coverage html -d coverage/{envname}
    poetry run coverage xml
"""

[tool.poetry]
authors = [
  'Amy <amy@lexicalunit.com>',
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: End Users/Desktop",
  "Topic :: Communications :: Chat",
  "Topic :: Games/Entertainment :: Board Games",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]
description = 'The Discord bot for SpellTable'
homepage = 'http://spellbot.io/'
keywords = ['discord', 'magic', 'bot', 'mtg', 'SpellTable']
license = 'MIT'
name = 'spellbot'
packages = [
  {include = "spellbot", from = "src"},
  {include = "spellapi", from = "src"},
]
readme = 'README.md'
repository = 'https://github.com/lexicalunit/spellbot'
version = "5.28.3"

[tool.poetry.dependencies]
aiofiles = "^0.6.0"
aiohttp = "^3.7.4.post0"
aioredis = "^1.3.1"
alembic = "^1.5.8"
click = "^7.1.2"
coloredlogs = "^15.0"
"discord.py" = "^1.7.1"
dunamai = "^1.5.4"
expiringdict = "^1.2.1"
fastapi = "^0.63"
fastapi-cache2 = "^0.1.3.4"
httpx = "^0.17.1"
humanize = "^3.3.0"
hupper = "^1.10.2"
itsdangerous = "^1.1.0"
psycopg2-binary = "^2.8.6"
python = '>=3.8,<4'
python-dateutil = "^2.8.1"
python-dotenv = "^0.17.0"
python-jose = {extras = ["cryptography"], version = "^3.2.0"}
pytz = "^2021.1"
pyyaml = "^5.4.1"
redis = "^3.5.3"
requests = "^2.25.1"
sqlalchemy = "^1.4.6"
unidecode = "^1.2.0"
uvicorn = "^0.13.4"

[tool.poetry.dev-dependencies]
black = "^20.8b0"
coverage = "^5.5"
faker = "^8.1.0"
flake8 = "^3.9.1"
flake8-print = "^4.0.0"
gitpython = "^3.1.14"
ipython = "^7.21.0"
isort = "^5.7.0"
mypy = "^0.812"
pytest = "^6.2.3"
pytest-asyncio = "^0.15.0"
pytest-freezegun = "^0.4.2"
pytest-mock = "^3.5.1"
pytest-snapshot = "^0.6.1"
requests = "^2.25.1"
requests-mock = "^1.8.0"
sqlalchemy-stubs = "^0.4"
tox = "^3.23.0"

[tool.poetry.scripts]
spellapi = 'spellapi:main'
spellbot = 'spellbot:main'

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
