footer {
  background-color: #0d1117;
  border-top: 1px #1a202c solid;
  bottom: 0;
  color: rgb(113, 128, 150);
  height: 2.5rem;
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  opacity: 75%;
  transition: all 0.3s ease-in-out;
}

footer:hover,
footer:active {
  opacity: 100%;
}

footer a {
  color: #765bff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #ffb342;
  text-decoration: none;
}
