ul.settings {
  list-style-type: none;
}

ul.settings li {
  padding: 10px;
}

input,
label {
  font-size: larger;
  margin: 0;
  padding: 0;
}

input[readonly] {
  box-sizing: border-box;
  border: none;
  background-color: rgb(90, 62, 253) !important;
  color: rgb(246, 173, 75);
  font-weight: bold;
  font-size: larger;
}

label.help {
  font-size: smaller;
  margin-left: 1rem;
  color: #d9d9d9;
}
