body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

code {
  background-color: transparent !important;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 1em !important;
}

h1,
h2 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

/* Prevent weird dotted outline on selectable tags in Firefox */
*:focus {
  outline: none !important;
}

.loader {
  padding-top: 2rem;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
