.nav-item img {
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;
}

.nav-item img:hover {
  filter: brightness(150%);
}

.navbar a {
  transition: all 0.3s ease-in-out;
}

.avatar-img {
  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.avatar-img-border {
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;
}

.avatar-img-border:hover {
  filter: brightness(150%);
}

.navbar-custom {
  -moz-transition: padding 0.5s ease-in-out;
  -webkit-transition: padding 0.5s ease-in-out;
  background-color: rgb(13, 17, 23);
  border-bottom: 1px solid rgb(26, 32, 44);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: padding 0.5s ease-in-out;
}

.navbar-custom,
.navbar-custom.top-nav-short,
.navbar-custom.top-nav-short-permanent {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  color: #718096 !important;
  transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #ffb342 !important;
}

.navbar-custom .navbar-brand {
  font-size: 1.125rem;
  line-height: 1.5;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.navbar-custom .navbar-brand-logo {
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}

.navbar-custom .navbar-brand-logo,
.navbar-custom.top-nav-short .navbar-brand-logo,
.navbar-custom.top-nav-short-permanent .navbar-brand-logo {
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
}

.navbar-custom .navbar-brand-logo img {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.navbar-custom .navbar-brand-logo img,
.navbar-custom.top-nav-short .navbar-brand-logo img,
.navbar-custom.top-nav-short-permanent .navbar-brand-logo img {
  height: 2.5rem;
}

.navbar-custom .navbar-nav .nav-link {
  font-size: 0.8125rem;
  letter-spacing: 0.0625rem;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  padding-bottom: 0.9375rem;
  padding-top: 0;
  padding-top: 0.9375rem;
  text-transform: uppercase;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  font-weight: 800;
}

.navbar-toggler {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:hover {
  background-color: initial;
}

.navbar-custom .navbar-toggler[aria-expanded="true"] {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-toggle::after {
  border-width: 0.4em;
}

@media (min-width: 1200px) {
  .navbar-custom {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }

  .navbar-custom .navbar-brand-logo {
    padding-bottom: 0;
    padding-top: 0;
  }

  .navbar-custom .navbar-brand-logo img {
    height: 3.125rem;
  }

  .navbar-expand-xl .navbar-nav .nav-link {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .navbar-expand-xl .navbar-nav .nav-item:not(.dropdown):last-child .nav-link {
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-custom .nav-item.dropdown:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.navbar-custom .nav-item.dropdown.show {
  background: rgba(0, 0, 0, 0.2);
}

.navbar-custom .nav-item.dropdown .dropdown-menu {
  border: 0;
  font-size: 1em;
  margin-top: 0;
  min-width: 0;
  padding: 0;
  width: 100%;
  word-break: break-word;
}

.navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
  background-color: rgb(13, 17, 23);
  border-width: 0 1px 1px 1px;
  font-weight: normal;
  padding: 0.625rem;
  text-decoration: none !important;
  white-space: normal;
}

@media (min-width: 1200px) {
  .navbar-custom .nav-item.dropdown .dropdown-menu {
    text-align: center;
  }

  .navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
    border-width: 0 1px 1px;
    border: 1px solid rgb(26, 32, 44);
    padding-left: 0.625rem;
  }
}

@media (max-width: 1199px) {
  .navbar-custom .navbar-collapse {
    border-top: 1px solid rgb(26, 32, 44);
    margin: 0 -1rem;
  }

  .navbar-custom .navbar-nav {
    padding: 0.5rem 0;
  }

  .navbar-custom .navbar-nav .nav-link {
    padding: 0.675rem 0 0.675rem 1rem;
  }

  .navbar-custom .nav-item.dropdown.show {
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
    padding-left: 2rem;
  }
}

.nav-link {
  color: #718096 !important;
}

.nav-link:hover {
  color: #ffb342 !important;
}

.navbar-custom .avatar-container {
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  bottom: -1.5rem;
  left: 50%;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  width: 3.125rem;
}

.navbar-custom.top-nav-short .avatar-container {
  -moz-transition: visibility linear 0.5s, opacity 0.5s ease-in-out;
  -webkit-transition: visibility linear 0.5s, opacity 0.5s ease-in-out;
  opacity: 0;
  transition: visibility linear 0.5s, opacity 0.5s ease-in-out;
  visibility: hidden;
}

.navbar-custom .avatar-container .avatar-img-border {
  -moz-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  margin-left: -50%;
  width: 100%;
}

.navbar-custom .avatar-container .avatar-img {
  border-radius: 50%;
  display: block;
  width: 100%;
}

.navbar-custom.top-nav-expanded .avatar-container {
  display: none;
}

@media (min-width: 1200px) {
  .navbar-custom.top-nav-regular .avatar-container {
    bottom: -1.9375rem;
    width: 6.25rem;
  }

  .navbar-custom.top-nav-regular .avatar-container .avatar-img-border {
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    width: 100%;
  }

  .navbar-custom.top-nav-regular .avatar-container .avatar-img {
    width: 100%;
  }
}
